/* body {
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.point {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: white;
    border-radius: 50%;
}

.outer-circle {
    position: absolute;
    width: 600px; 
    height: 600px;
    border: 2px solid white; 
    border-radius: 50%;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    background-color: black;
} */

body {
    margin: 0;
    overflow: hidden;
}

canvas {
    display: block;
}